.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputBlock {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.inputBlock p {
  color: red;
  font-size: 14px;
  font-style: italic;
}
.sortButtons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
.histogram {
  margin-top: 20px;
  height: 150px;
  display: flex;
  gap: 10px;
}
.histogram span {
  width: 45px;
  background: rgb(173, 216, 230);
}

.speed-of-sort{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

